<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.frame.mapper.SfBCommonMapper" >
  <resultMap id="BaseResultMap" type="cn.com.frame.model.SfBCommon" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="wf_id" property="wf_id" jdbcType="BIGINT" />
    <result column="trace_id" property="trace_id" jdbcType="BIGINT" />
    <result column="dynamic_instance_id" property="dynamic_instance_id" jdbcType="BIGINT" />
    <result column="a01" property="a01" jdbcType="VARCHAR" />
    <result column="a02" property="a02" jdbcType="VARCHAR" />
    <result column="a03" property="a03" jdbcType="VARCHAR" />
    <result column="a04" property="a04" jdbcType="VARCHAR" />
    <result column="a05" property="a05" jdbcType="VARCHAR" />
    <result column="a06" property="a06" jdbcType="VARCHAR" />
    <result column="a07" property="a07" jdbcType="VARCHAR" />
    <result column="a08" property="a08" jdbcType="VARCHAR" />
    <result column="a09" property="a09" jdbcType="VARCHAR" />
    <result column="a10" property="a10" jdbcType="VARCHAR" />
    <result column="a11" property="a11" jdbcType="VARCHAR" />
    <result column="a12" property="a12" jdbcType="VARCHAR" />
    <result column="a13" property="a13" jdbcType="VARCHAR" />
    <result column="a14" property="a14" jdbcType="VARCHAR" />
    <result column="a15" property="a15" jdbcType="VARCHAR" />
    <result column="a16" property="a16" jdbcType="VARCHAR" />
    <result column="a17" property="a17" jdbcType="VARCHAR" />
    <result column="a18" property="a18" jdbcType="VARCHAR" />
    <result column="a19" property="a19" jdbcType="VARCHAR" />
    <result column="a20" property="a20" jdbcType="VARCHAR" />
    <result column="a21" property="a21" jdbcType="VARCHAR" />
    <result column="a22" property="a22" jdbcType="VARCHAR" />
    <result column="a23" property="a23" jdbcType="VARCHAR" />
    <result column="a24" property="a24" jdbcType="VARCHAR" />
    <result column="a25" property="a25" jdbcType="VARCHAR" />
    <result column="a26" property="a26" jdbcType="VARCHAR" />
    <result column="a27" property="a27" jdbcType="VARCHAR" />
    <result column="a28" property="a28" jdbcType="VARCHAR" />
    <result column="a29" property="a29" jdbcType="VARCHAR" />
    <result column="a30" property="a30" jdbcType="VARCHAR" />
    <result column="a31" property="a31" jdbcType="VARCHAR" />
    <result column="a32" property="a32" jdbcType="VARCHAR" />
    <result column="a33" property="a33" jdbcType="VARCHAR" />
    <result column="a34" property="a34" jdbcType="VARCHAR" />
    <result column="a35" property="a35" jdbcType="VARCHAR" />
    <result column="a36" property="a36" jdbcType="VARCHAR" />
    <result column="a37" property="a37" jdbcType="VARCHAR" />
    <result column="a38" property="a38" jdbcType="VARCHAR" />
    <result column="a39" property="a39" jdbcType="VARCHAR" />
    <result column="a40" property="a40" jdbcType="VARCHAR" />
    <result column="a41" property="a41" jdbcType="VARCHAR" />
    <result column="a42" property="a42" jdbcType="VARCHAR" />
    <result column="a43" property="a43" jdbcType="VARCHAR" />
    <result column="a44" property="a44" jdbcType="VARCHAR" />
    <result column="a45" property="a45" jdbcType="VARCHAR" />
    <result column="a46" property="a46" jdbcType="VARCHAR" />
    <result column="a47" property="a47" jdbcType="VARCHAR" />
    <result column="a48" property="a48" jdbcType="VARCHAR" />
    <result column="a49" property="a49" jdbcType="VARCHAR" />
    <result column="a50" property="a50" jdbcType="VARCHAR" />
    <result column="a51" property="a51" jdbcType="VARCHAR" />
    <result column="a52" property="a52" jdbcType="VARCHAR" />
    <result column="a53" property="a53" jdbcType="VARCHAR" />
    <result column="a54" property="a54" jdbcType="VARCHAR" />
    <result column="a55" property="a55" jdbcType="VARCHAR" />
    <result column="a56" property="a56" jdbcType="VARCHAR" />
    <result column="a57" property="a57" jdbcType="VARCHAR" />
    <result column="a58" property="a58" jdbcType="VARCHAR" />
    <result column="a59" property="a59" jdbcType="VARCHAR" />
    <result column="a60" property="a60" jdbcType="VARCHAR" />
    <result column="a61" property="a61" jdbcType="VARCHAR" />
    <result column="a62" property="a62" jdbcType="VARCHAR" />
    <result column="a63" property="a63" jdbcType="VARCHAR" />
    <result column="a64" property="a64" jdbcType="VARCHAR" />
    <result column="a65" property="a65" jdbcType="VARCHAR" />
    <result column="a66" property="a66" jdbcType="VARCHAR" />
    <result column="a67" property="a67" jdbcType="VARCHAR" />
    <result column="a68" property="a68" jdbcType="VARCHAR" />
    <result column="a69" property="a69" jdbcType="VARCHAR" />
    <result column="a70" property="a70" jdbcType="VARCHAR" />
    <result column="a71" property="a71" jdbcType="VARCHAR" />
    <result column="a72" property="a72" jdbcType="VARCHAR" />
    <result column="a73" property="a73" jdbcType="VARCHAR" />
    <result column="a74" property="a74" jdbcType="VARCHAR" />
    <result column="a75" property="a75" jdbcType="VARCHAR" />
    <result column="a76" property="a76" jdbcType="VARCHAR" />
    <result column="a77" property="a77" jdbcType="VARCHAR" />
    <result column="a78" property="a78" jdbcType="VARCHAR" />
    <result column="a79" property="a79" jdbcType="VARCHAR" />
    <result column="a80" property="a80" jdbcType="VARCHAR" />
    <result column="a81" property="a81" jdbcType="VARCHAR" />
    <result column="a82" property="a82" jdbcType="VARCHAR" />
    <result column="a83" property="a83" jdbcType="VARCHAR" />
    <result column="a84" property="a84" jdbcType="VARCHAR" />
    <result column="a85" property="a85" jdbcType="VARCHAR" />
    <result column="a86" property="a86" jdbcType="VARCHAR" />
    <result column="a87" property="a87" jdbcType="VARCHAR" />
    <result column="a88" property="a88" jdbcType="VARCHAR" />
    <result column="a89" property="a89" jdbcType="VARCHAR" />
    <result column="a90" property="a90" jdbcType="VARCHAR" />
    <result column="a91" property="a91" jdbcType="VARCHAR" />
    <result column="a92" property="a92" jdbcType="VARCHAR" />
    <result column="a93" property="a93" jdbcType="VARCHAR" />
    <result column="a94" property="a94" jdbcType="VARCHAR" />
    <result column="a95" property="a95" jdbcType="VARCHAR" />
    <result column="a96" property="a96" jdbcType="VARCHAR" />
    <result column="a97" property="a97" jdbcType="VARCHAR" />
    <result column="a98" property="a98" jdbcType="VARCHAR" />
    <result column="a99" property="a99" jdbcType="VARCHAR" />
    <result column="a100" property="a100" jdbcType="VARCHAR" />
    <result column="a101" property="a101" jdbcType="VARCHAR" />
    <result column="a102" property="a102" jdbcType="VARCHAR" />
    <result column="a103" property="a103" jdbcType="VARCHAR" />
    <result column="a104" property="a104" jdbcType="VARCHAR" />
    <result column="a105" property="a105" jdbcType="VARCHAR" />
    <result column="a106" property="a106" jdbcType="VARCHAR" />
    <result column="a107" property="a107" jdbcType="VARCHAR" />
    <result column="a108" property="a108" jdbcType="VARCHAR" />
    <result column="a109" property="a109" jdbcType="VARCHAR" />
    <result column="a110" property="a110" jdbcType="VARCHAR" />
    <result column="a111" property="a111" jdbcType="VARCHAR" />
    <result column="a112" property="a112" jdbcType="VARCHAR" />
    <result column="a113" property="a113" jdbcType="VARCHAR" />
    <result column="a114" property="a114" jdbcType="VARCHAR" />
    <result column="a115" property="a115" jdbcType="VARCHAR" />
    <result column="a116" property="a116" jdbcType="VARCHAR" />
    <result column="a117" property="a117" jdbcType="VARCHAR" />
    <result column="a118" property="a118" jdbcType="VARCHAR" />
    <result column="a119" property="a119" jdbcType="VARCHAR" />
    <result column="a120" property="a120" jdbcType="VARCHAR" />
    <result column="d01" property="d01" jdbcType="DOUBLE" />
    <result column="d02" property="d02" jdbcType="DOUBLE" />
    <result column="d03" property="d03" jdbcType="DOUBLE" />
    <result column="d04" property="d04" jdbcType="DOUBLE" />
    <result column="d05" property="d05" jdbcType="DOUBLE" />
    <result column="d06" property="d06" jdbcType="DOUBLE" />
    <result column="d07" property="d07" jdbcType="DOUBLE" />
    <result column="d08" property="d08" jdbcType="DOUBLE" />
    <result column="d09" property="d09" jdbcType="DOUBLE" />
    <result column="d10" property="d10" jdbcType="DOUBLE" />
    <result column="d11" property="d11" jdbcType="DOUBLE" />
    <result column="d12" property="d12" jdbcType="DOUBLE" />
    <result column="d13" property="d13" jdbcType="DOUBLE" />
    <result column="d14" property="d14" jdbcType="DOUBLE" />
    <result column="d15" property="d15" jdbcType="DOUBLE" />
    <result column="d16" property="d16" jdbcType="DOUBLE" />
    <result column="d17" property="d17" jdbcType="DOUBLE" />
    <result column="d18" property="d18" jdbcType="DOUBLE" />
    <result column="d19" property="d19" jdbcType="DOUBLE" />
    <result column="d20" property="d20" jdbcType="DOUBLE" />
    <result column="d21" property="d21" jdbcType="DOUBLE" />
    <result column="d22" property="d22" jdbcType="DOUBLE" />
    <result column="d23" property="d23" jdbcType="DOUBLE" />
    <result column="d24" property="d24" jdbcType="DOUBLE" />
    <result column="d25" property="d25" jdbcType="DOUBLE" />
    <result column="d26" property="d26" jdbcType="DOUBLE" />
    <result column="d27" property="d27" jdbcType="DOUBLE" />
    <result column="d28" property="d28" jdbcType="DOUBLE" />
    <result column="d29" property="d29" jdbcType="DOUBLE" />
    <result column="d30" property="d30" jdbcType="DOUBLE" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="VARCHAR" />
    <result column="EFFECTIVE" property="effective" jdbcType="INTEGER" />
    <result column="CREATEDAY" property="createday" jdbcType="TIMESTAMP" />
    <result column="UPDATEDAY" property="updateday" jdbcType="TIMESTAMP" />
    <result column="UPDATECOUNT" property="updatecount" jdbcType="DOUBLE" />
    <result column="b01" property="b01" jdbcType="LONGVARCHAR" />
    <result column="b02" property="b02" jdbcType="LONGVARCHAR" />
    <result column="b03" property="b03" jdbcType="LONGVARCHAR" />
    <result column="b04" property="b04" jdbcType="LONGVARCHAR" />
    <result column="b05" property="b05" jdbcType="LONGVARCHAR" />
    <result column="b06" property="b06" jdbcType="LONGVARCHAR" />
    <result column="b07" property="b07" jdbcType="LONGVARCHAR" />
    <result column="b08" property="b08" jdbcType="LONGVARCHAR" />
    <result column="b09" property="b09" jdbcType="LONGVARCHAR" />
    <result column="b10" property="b10" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>